/* App.css */
.signup-container {
    background-size: cover;
    background-position: center;
  }
  
  .signup-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .half-width {
    width: 48%; /* Adjust as needed, leaving a little space for margin */
    display: inline-block;
    margin-right: 2%; /* Adjust for some spacing between first name and last name */
  }
  
  /* ... Rest of your existing styles */
  