body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* background-image: url('./images/zodiac-sign-wheel-of-fortune-astrology-concept-free-photo.jpg'); */
  }
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 20vw;
  }
  
  .login-box {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-up-link {
    color: #3498db;
    cursor: pointer;
  }
  
  .or-separator {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .or-text {
    margin: 0 10px;
    color: #777;
  }
  
  .google-sign-in {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  